/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project style */
    color: #3a3a3a;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Permanent Marker', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(250, 209, 158);
}

/* header */
header {
    background-color: #9ab2b8;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.5em;
}

/* Shows what page you are at with a underline */
.active {
    border-bottom: 2px solid #3a3a3a;
}

/* Navbar styles with toggle dropdown menu */
nav {
    position: absolute;
    background-color: #9ab2b8;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 5px 5px #3a3a3a;
    /* hides menu-text */
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #b8cdd3d8;
    /* make main take up any surplus space to push footer down to bootom */
    flex: 1 0 auto;
    /* push main content down from header */
    margin-top: 93px;
}

/* Biker section */
#biker {
    height: 500px;
    width: 100%;
    background: url("../images/8E5124E7-13D1-4AFE-AB89-F0C50380C5EF_1_105_c.jpeg") no-repeat center center / cover;
    position: relative;
}

#biker-text {
    background-color: #b8cdd397;
    bottom: 30%;
    width: 80%;
    padding-right: 50px;
    padding-top: 10px;
    text-align: right;
    min-height: 100px;
}

#biker-text>h2,
#biker-text>h3 {
    font-family: 'Ubuntu';

}
#about-text h1 {
    border-bottom: 2px solid #3a3a3a;
    box-shadow: 0 2px 2px #3a3a3a;
}
#join-text h1 {
    border-bottom: 2px solid #3a3a3a;
    box-shadow: 0 2px 2px #3a3a3a;
}
/* Form */
#join-us {

}
#join-us-form {

}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #9ab2b8;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: rgb(250, 209, 158);
}

/* Media Query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        margin: 0 0.5rem;
        line-height: 75px;
    }

    /* Main content */
    main {
        /* push main down from header */
        margin-top: 155px;
    }
}

/* Media Query for laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid #3a3a3a;

    }




}

/* Media Query for desktops and larger (1157px and up) */
@media screen and (min-width: 1157px) {
    main {
        margin-top: 75px;

    }

}